<footer class="footer">
    <div class="site-name-and-socials">
        <div class="brand-logo">
            <h1>My site</h1>
        </div>
        <div class="socials">
                <p>socials placeholer</p>
        </div>
    </div>
    <div class="footer-menus">
        <div class="footer-menu1">
            <ul>
                <li><a href="#">
                    topic
                </a></li>
                <li><a href="#">
                    page
                </a></li>
                <li><a href="#">
                    page
                </a></li>
                <li><a href="#">
                    page
                </a></li>
            </ul>
        </div>
        <div class="footer-menu2">
            <ul>
                <li><a href="#">
                    topic
                </a></li>
                <li><a href="#">
                    page
                </a></li>
                <li><a href="#">
                    page
                </a></li>
                <li><a href="#">
                    page
                </a></li>
            </ul>
        </div>
        <div class="footer-menu3">
            <ul>
                <li><a href="#">
                    topic
                </a></li>
                <li><a href="#">
                    page
                </a></li>
                <li><a href="#">
                    page
                </a></li>
                <li><a href="#">
                    page
                </a></li>
            </ul>
        </div>
        
    </div>
</footer>