<app-navbar></app-navbar>
<section class="hero-section">
    <h1>Landing Page title</h1>
    <p>And a subheading describing your site, too</p>
    <app-button></app-button>
</section>
<section class="product-with-img-section">
    <div class="product-row-1">
        <app-card-v1 class="product-card-cont"></app-card-v1>
        <img class="product-img" src="assests/Image.png" alt="img" srcset="">
    </div>
    <div class="product-row-2">
        <img class="product-img" src="assests/Image1.png" alt="img" srcset="">
        <app-card-v1 class="product-card-cont"></app-card-v1>
    </div>
</section>
<section class="product-description-section">
    <h1>heading</h1>
    <div class="product-description-row1">
        <app-card-v2 class="prd-des-card"></app-card-v2>
        <app-card-v2 class="prd-des-card"></app-card-v2>
    </div>
    <div class="product-description-row2">
        <app-card-v2 class="prd-des-card"></app-card-v2>
        <app-card-v2 class="prd-des-card"></app-card-v2>
    </div>
</section>
<app-footer></app-footer>